@import "./reset.css";

* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
}

#input {
  flex: 1 1 auto;
  border: 1px solid black;
}

.gutter {
  width: 10px;
  height: 100vh;
  background-color: black;
  background-position: center;
  cursor: col-resize;
}

#canvas {
  flex: 1 1 auto;
  height: 100vh;
  border: 1px solid black;
}
